<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P01ORMWstep.Properties.Settings.ZawodnicyDBConnectionString"
            connectionString="Data Source=zawodnicyserv.database.windows.net;Initial Catalog=ZawodnicyDB;User ID=zawodnicy_admin;Password=AlxAlx14042023!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>